<div>
  <p>
    <strong>Description:</strong>
    <%= @post.description %>
  </p>
  <% if @post.thumbnail.attached? %>
  <p>
    <strong>Thumbnail:</strong>
    <%= image_tag @post.thumbnail %>
  </p>
  <% end %>
  <div>
  <li>
    <%= button_to '削除', post_path(@post), method: :delete %>
  </li>
    <%= link_to "Back to home", home_index_path %>
  </div>
</div>